p {
    font-family: Verdana; 
    margin-bottom: 3px;
    margin-top: 3px;
    width: 300px;
 }
 .text1-style {
     font-size: 20px;
     font-weight: bold;
 }
 .text2-style {
     color: grey;
     font-size: 16px;
 }

 .text3-style {
     font-size: 16px;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .button-style {
     font-family: Verdana;
     background-color: green;
     border-width: 0px;
     color: white;
     border-radius: 6px;
     padding: 12px;
 }